*{
	padding: 0px;
	margin: 0px;
}

header{
	height: 45px;
	border-top: 10px solid rgb(253, 189, 31);
}

header nav{
	height: 100%;
}

nav{
	float: right;
}

.navbar-option{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 20px 20px 0px;
	
	color: gray;
	text-decoration: none;
	font-family: Verdana;
	height: 100%;
}

.navbar-option:hover{
	background-color: rgb(253, 189, 31);
	color: white;
}

img{
	height: 50px;
	float: left;
	padding: 10px;
}

#nav-left-side-text{
	display: inline-block;
	font-family: Verdana;
	vertical-align: middle;
	padding-top: 16px;
	float: left;
	color: gray;
	font-size: 12px;
}